/* .container {
  background-color: black;
} */
.main-area {
  background-image: url(../images/poster.png);
  background-repeat: no-repeat;
  height: 100vh;
}
h1 {
  color: white;
  font-weight: bolder;
  padding-top: 8rem;
}
p {
  margin-top: 1rem;
  color: white;
}
.card {
  background-color: rgb(23, 23, 21);
}
.start-btn {
  display: flex !important;
}

.btn {
  display: flexbox !important;
  justify-content: center !important;
  align-items: center !important;
}
